# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Flask
instance/

# Database
*.db

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log